@charset "UTF-8";

:root {
    --dark-blue: #171219;
    --light-blue: #2274A5;
    --platinum: #E7E5DF;

    --min-wdh-padrao: 280px;
    --max-wdh-padrao: 800px;

    --min-hgh-padrao: 800px;
    --max-hgh-padrao: 550px;

    --max-wdh-img-padrao: 100%;
    --min-wdh-img-padrao: 50%;
}
*{
    margin: 0px;
    padding: 0px;
}
footer a {
    text-decoration: none;
    font-weight: bold;
    
}
html, body {
    min-height: 100vh;
}

header {
    padding: 20vh;  
    min-height: 800px;
    max-height: 550px;
    background-color: #171219;
    color: white;
    background-image: url('../imagens/img-header.jpg');
    background-attachment: fixed;
    background-position: right ;
    background-size: cover;
}
header h1 {
    font-size: 500%;
    font-weight: bolder;
    font-variant: small-caps;
    line-height: 0.8em;
}

header p {
    min-width: 280px;
    max-width: 400px;
    font-size: 5vh;
    margin: auto;
}

header h1, p {
    text-align: center;
    margin: 10% 20% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#img01 p {
    margin: 0vh auto;
    min-width: var(--min-wdh-padrao);
    max-width: var(--max-wdh-padrao);
    background-color: rgba(0, 0, 0, 0.468);
    color: white;
    padding: 3vh;
    border-radius: 0px 0px 5px 5px;
    border-collapse: collapse;
}
section#img01 h2 {
    margin: auto;
    min-width: var(--min-wdh-padrao);
    max-width: var(--max-wdh-padrao);
    background-color: rgba(0, 0, 0, 0.468);
    color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 1vh;
    display: flex;
    justify-content: center;
 
}

section#img01 {
    margin: -40px auto;
    max-width: var(--max-wdh-img-padrao);
    min-width: var(--min-wdh-img-padrao);
    min-height: var(--min-hgh-padrao);
    max-height: var(--min-hgh-padrao);
    padding: 30vh;
    /*background*/
    background-color: yellow;
    background-image: url('../imagens/img-aside01.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

section#img02 p {
    margin: 0vh auto;
    min-width: var(--min-wdh-padrao);
    max-width: var(--max-wdh-padrao);
    background-color: rgba(0, 0, 0, 0.468);
    color: white;
    padding: 3vh;
    border-radius: 0px 0px 5px 5px;
    border-collapse: collapse;
}

section#img02 h2 {
    margin: auto;
    min-width: var(--min-wdh-padrao);
    max-width: var(--max-wdh-padrao);
    background-color: rgba(0, 0, 0, 0.468);
    color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 1vh;
    display: flex;
    justify-content: center;
}

section#img02 {
    margin: auto;
    max-width: var(--max-wdh-img-padrao);
    min-width: var(--min-wdh-img-padrao);
    min-height: var(--min-hgh-padrao);
    max-height: var(--max-hgh-padrao);
    padding: 20vh;
    /*background*/
    background-color: yellow;
    background-image: url('../imagens/img-aside02.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

section#img03 p {
    margin: auto;
    min-width: var(--min-wdh-padrao);
    max-width: var(--max-wdh-padrao);
    background-color: rgba(0, 0, 0, 0.468);
    color: white;
    padding: 3vh;
    border-radius: 0px 0px 5px 5px;
    border-collapse: collapse;
}

section#img03 h2 {
    margin: auto;
    min-width: var(--min-wdh-padrao);
    max-width: var(--max-wdh-padrao);
    background-color: rgba(0, 0, 0, 0.468);
    color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 1vh;
    display: flex;
    justify-content: center;
}

section#img03 h2,p {
    margin-top: 10%;
}

section#img03 {
    margin: auto;
    max-width: var(--max-wdh-img-padrao);
    min-width: var(--min-wdh-img-padrao);
    min-height: var(--min-hgh-padrao);
    max-height: var(--max-hgh-padrao);
    padding: 20vh;
    /*background*/
    background-color: yellow;
    background-image: url('../imagens/img-robocerebro.jpg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
/*nav drop*/
/* Estilo para o botão do menu suspenso */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Estilo para o contêiner do menu suspenso */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para o conteúdo do menu suspenso (oculto por padrão) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilo para os links do menu suspenso */
.dropdown-content a {
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Mudança de cor quando o mouse passa por cima do link */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Exibir o menu suspenso quando o botão é hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para o conteúdo principal */
.content {
    padding: 20px;
}


  


/*footer*/

.copyright {
    font-size: 14px;
    
   
color: #333; /* Cor do texto */
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2; /* Cor de fundo */
    border-top: 1px solid #ccc; /* Linha superior */
}

/* Estilização dos nomes dos donos */
.copyright span {
    font-weight: bold;
    color: #007bff; /* Cor dos nomes (azul) */
}



  
  