@charset "UTF-8";

:root {
    --dark-blue: #171219;
    --light-blue: #2274A5;
    --platinum: #E7E5DF;

    --min-wdh-padrao: 280px;
    --max-wdh-padrao: 800px;

    --min-hgh-padrao: 800px;
    --max-hgh-padrao: 550px;

    --max-wdh-img-padrao: 100%;
    --min-wdh-img-padrao: 50%;
}
*{
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #181661;
    margin: auto;
    height: 50px;
    padding: 5px;
    
    position: sticky;
    top: -1px;

}
nav p, ul {
    display: inline-block;
    color: var(--platinum);
}
nav p {
    font-size: 1.6em;
    margin-bottom: 5px;
}

nav ul li {
    padding: 10px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #171219;
    padding: 10px;
    font-size: 1.2em;
    color: var(--platinum);
}

nav > ul > li {
    display: inline-block;
}


header {
    margin: auto;
    text-align: center;
    padding: 10px;
    min-height: 500px;

    background-image: url(../imagens/img-header.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.340);
    margin: auto;
    font-size: 3.2em;
    color: var(--platinum);
}

header > p {
    background-color: rgba(0, 0, 0, 0.340);
    color: var(--platinum);
    margin: auto;
    font-size: 1.5em;
}

@media (min-width: 370px) {
    header > p {
    width: 300px;
    }
    header > h1 {
    width: 300px;
    margin-top: 125px;
    }
}

@media (min-width: 1024px) {
    header > p {
        width: 600px;
    }
    header > h1 {
        width: 600px;
        margin-top: 160px;
    }
}

main {
    margin: auto;
}

aside#img01 {
    margin: auto;
    min-height: var(--min-hgh-padrao);
    max-height: var(--max-hgh-padrao);
    min-width: 370px;
    max-width: 1600px;
    display: flex;
    align-items: center;

}

@media (min-width: 370px) {
    aside#img01 {
        background-image: url(../imagens/img-aside01.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center left;
    }
 }   
@media (min-width: 1024px) { 
    aside#img01 {
    background-image: url(../imagens/img-aside01.jpg);
    background-attachment: fixed;
    background-size: cover;
    }
    }


aside#img01 p {
    background-color: rgba(0, 0, 0, 0.340);
    color: var(--platinum);
    margin: auto;
    text-align: center;
    max-width: 900px; /*arrumar com media */
    min-width: 200px;
    padding: 10px;
}

aside#img02 {
    margin: auto;
    max-height: 00px;
    min-height: 500px;
    min-width: 300px;
    max-width: 1600px;
    display: flex;
    align-items: center;
}

@media (min-width: 370px) {
    aside#img02 {
        background-image: url();
        background-attachment: fixed;
        background-size: cover;
    }
 }   
@media (min-width: 1024px) { 
    aside#img02 {
    background-image: url();
    background-attachment: fixed;
    background-size: cover;
    }
    }


aside#img02 p {
    background-color: rgba(0, 0, 0, 0.340);
    color: var(--platinum);
    margin: auto;
    text-align: center;
    max-width: 900px; /*arrumar com media */
    min-width: 200px;
    padding: 10px;
}

aside#img03 {
    margin: auto;
    max-height: 00px;
    min-height: 500px;
    min-width: 300px;
    max-width: 1600px;
    display: flex;
    align-items: center;
}

@media (min-width: 370px) {
    aside#img03 {
        background-image: url();
        background-attachment: fixed;
        background-size: cover;
    }
 }   
@media (min-width: 1024px) { 
    aside#img03 {
    background-image: url();
    background-attachment: fixed;
    background-size: cover;
    }
    }


aside#img03 p {
    background-color: rgba(0, 0, 0, 0.340);
    color: var(--platinum);
    margin: auto;
    text-align: center;
    max-width: 900px; /*arrumar com media */
    min-width: 200px;
    padding: 10px;
}
