@charset "UTF-8";

:root {
    --dark-blue: #171219;
    --light-blue: #2274A5;
    --platinum: #E7E5DF;
}
*{
    margin: 0px;
    padding: 0px;
}

header {
    padding:;
    text-align: center;
    background-image: url('../imagens/img-header.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

header > h1 {
    margin-top: 1px;
    padding: 5px;
    font-size: 4em;
    font-weight: bolder;
}
header p {
    font-size: 1.5em;
    font-weight: bold;
}

/*nav drop*/
/* Estilo para o botão do menu suspenso */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Estilo para o contêiner do menu suspenso */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para o conteúdo do menu suspenso (oculto por padrão) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilo para os links do menu suspenso */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Mudança de cor quando o mouse passa por cima do link */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Exibir o menu suspenso quando o botão é hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para o conteúdo principal */
.content {
    padding: 20px;
}


  


/*footer*/

.copyright {
    font-size: 14px;
    
   
color: #333; /* Cor do texto */
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2; /* Cor de fundo */
    border-top: 1px solid #ccc; /* Linha superior */
}

/* Estilização dos nomes dos donos */
.copyright span {
    font-weight: bold;
    color: #007bff; /* Cor dos nomes (azul) */
}



  
  